body {
  overflow-x: hidden;
  /* background-image: url("./asset/pixelBG.gif"); */
  background-color: darkcyan;
  background-size: cover;
}

header {
  font-size: 28px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  background: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
}

.container {
  margin: 100px auto 0 auto;
  display: grid;
  background-color: cadetblue;
}

.shop-toggle {
  z-index: 9000;
  position: fixed;
  top: 110px;
  left: 4rem;
  width: 3rem;
  aspect-ratio: 1;
  background: none;
}

#shop {
  --gap: 2em;
  position: fixed;
  z-index: 1000;
  inset: 0 70% 0 0;
  background-color: chartreuse;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  transform: translateX(-100%);
  transition: transform 350ms ease-out;
}

#shop[data-visible="true"] {
  transform: translateX(0%);
}

.upgrade {
  width: 400px;
  background-color: crimson;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#characterpet {
  display: flex;
  justify-content: center;
  padding: 50px;
}

@media (max-width: 768px) {
  .shop-toggle {
    display: none;
  }
  #shop {
    margin-top: 10px;
    height: 30%;
    position: relative;
    transform: translate(0%);
  }
}

#pet {
  background-color: maroon;
}

#clicker {
  background-color: blueviolet;
  display: flex;
}

@supports (backdrop-filter: blur(1rem)) {
  #navbar {
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
}

@media (min-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }

  #navbar {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

#navbar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 15px;
}

#navbar li:hover,
#navbar li.active {
  background-color: brown;
}

@media (max-width: 768px) {
  #navbar {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  #navbar[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background: none;
    z-index: 9999;
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 3rem;
    right: 3rem;
  }
}
