body {
  overflow-x: hidden;
  /* background-image: url("./asset/pixelBG.gif"); */
  background-color: darkcyan;
  background-size: cover;
}

nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  background: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(1rem);
}

.container {
  margin-top: 100px;
  display: grid;
  background-color: cadetblue;
}

.shop-toggle {
  z-index: 9000;
  position: fixed;
  width: 3rem;
  aspect-ratio: 1;
  background: none;
}

#shop {
  --gap: 2em;
  position: fixed;
  z-index: 1000;
  inset: 0 70% 0 0;
  background-color: chartreuse;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  transform: translateX(-100%);
  transition: transform 350ms ease-out;
}

#shop[data-visible="true"] {
  transform: translateX(0%);
}

.upgrade {
  width: 400px;
  background-color: crimson;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#characterpet {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #shop {
    inset: 0 40% 0 0;
  }
}

#pet {
  background-color: maroon;
}

#clicker {
  background-color: blueviolet;
  display: flex;
}

@supports (backdrop-filter: blur(1rem)) {
  #navbar {
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
}

@media (min-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }

  #navbar {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

#navbar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 15px;
}

#navbar li:hover,
#navbar li.active {
  background-color: brown;
}

@media (max-width: 768px) {
  #navbar {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  #navbar[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background: none;
    z-index: 9999;
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 3rem;
    right: 3rem;
  }
}

.container {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 650px;
  /* display: flex;
    justify-content: space-around; */
  backdrop-filter: blur(4px);
  border: 3px solid black;
  border-radius: 12px;
}

#judul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#buy {
  display: flex;
  justify-content: space-around;
}

#money {
  margin-top: 10px;
  width: 200px;
  height: 100px;
}

#moneyCount {
  font-size: 50px;
}

#upgrade {
  width: 200px;
  height: 500px;
  /* border: 3px solid green; */
}

#pet {
  width: 100%;
  text-align: center;
}

#pet img {
  width: 400px;
  margin-top: 20px;
  /* background-color: yellow; */
}

#pet button {
  width: 40px;
  height: 40px;
}

#clicker {
  margin-top: 10px;
  width: 200px;
  height: 600px;
}

#up {
  align-items: center;
  text-align: center;
  margin-top: -50px;
}

#up img {
  width: 180px;
  margin-bottom: -70px;
}

#up p {
  font-size: 32px;
}

#up button {
  background-color: rgba(249, 249, 249, 0.398);
  border-radius: 12px;
  width: 70px;
}

#clicker {
  text-align: center;
  display: grid;
  grid-template-columns: 200px;
}
#clicker div button {
  margin-top: 40px;
  width: 180px;
  height: 180px;
  background-color: rgba(249, 249, 249, 0.398);
  border-radius: 50%;
}
